/*** GENERAL ***/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-style: normal;
    font-weight: 100;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {}

h2 {}

h3 {}

.flex-container {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/******************************************/

/*** HEADER ***/

header {
    flex: 1;
    flex-basis: 500px;
    flex-grow: 1;
    background: url(Assets/beleuchtet-elektrizitat-energie-383673.jpg) no-repeat center center;
    background-size: cover;
}

.bio-container {
    background-color: rgba(180, 100, 250, .5);
    border-radius: 5%;
    padding: 10px 20px;
    flex: 1;
    flex-basis: auto;
    max-width: 400px;
    min-height: 190px;
    align-self: center;
    margin-top: 20px;
}

.buffer {
    flex: 1;
    flex-grow: 2;
}

.heading {
    font-size: 72px;
    color: white;
    text-decoration: underline;
    margin: 0 0 36px 0;
    text-align: center;
}

.subheading {
    font-size: 32px;
    color: white;
    text-align: center;

}

/******************************************/

/*** NAVIGATION ***/

nav {
    flex: 1;
}

nav .nav-list {
    text-align: right;
    padding: 10px;
}

.nav-item {
    display: inline;
    margin-right: 15px;
}

/******************************************/

/*** ABOUT SECTION ***/

.about {
    flex: 1;
}

.portrait {}

/******************************************/

/*** PORTFOLIO SECTION ***/

.portfolio {
    flex: 1;
}

.row {}

.project {}

.project-img {}

.project-name {}

.project-description {}

/******************************************/

/*** CONTACT INFORMATION ***/

.contact {
    flex: 1;
}

/******************************************/
