/********** COLORS

Wisteria        rgb(140, 68, 178)    #8C44B2
Green Sea       #4BB39C
Midnight blue   #2D3E52

**********************************************************************/

/*** GENERAL ***/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-style: normal;
    font-weight: 100;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #2D3E52;
}

a:hover,
a:active {
    color: #4BB39C;
}


li {
    list-style: none;
}

h1 {}

h2 {}

h3 {}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

section,
nav {
    width: 80%;
    align-self: center;

}

/******************************************/

/*** HEADER ***/

header {
    flex: 1;
    flex-basis: 500px;
    flex-grow: 1;
    background: black url(Assets/beleuchtet-elektrizitat-energie-383673.jpg) no-repeat center center;
    background-size: cover;
}

.heading-container {
    background-color: rgba(140, 68, 178, .3);
    padding: 10px 20px;
    flex: 100%;
    /* min-height: 180px; */
    align-self: center;
}

/* .buffer {
    flex: 1;
    flex-grow: 2;
}
*/

.heading {
    font-size: 72px;
    color: white;
    text-decoration: underline;
    padding-bottom: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subheading {
    font-size: 36px;
    color: white;
    text-align: center;
}

/******************************************/

/*** NAVIGATION ***/

nav {
    flex: 1;
    border-bottom: 2px solid #8C44B2;
    border-top: 1px solid #8C44B2;
    font-size: 0;
    margin-top: 16px;
    /*to avoid the gaps between the links*/
}

.nav-list {
    text-align: center;
    padding: 15px 0;
}

.nav-item {
/*    border: 1px solid #4BB39C; */
    display: inline;
    text-transform: uppercase;
    padding: 15px;
    font-size: 14px;
}

.nav-item:hover {
    border: 1px solid #8C44B2;
}

/******************************************/

/*** ABOUT SECTION ***/

.about {
    flex: 1;
}

.portrait {}

/******************************************/

/*** PORTFOLIO SECTION ***/

.portfolio {
    flex: 1;
}

.row {}

.project {}

.project-img {}

.project-name {}

.project-description {}

/******************************************/

/*** CONTACT INFORMATION ***/

.contact {
    flex: 1;
}

/******************************************/
